.card-ctn {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.377);
    padding: 2.5em;
    margin: 1em 0em;
    width: fit-content;
    background-color: var(--primary);
    border-radius: 16px;
    margin: .5em;
    height: fit-content;
}

.card-title {
    font-weight: 600;
}