.table_header-ctn {
    width: 85vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: .5em;

    .metadata_key {
        text-transform: capitalize;
        font-weight: bold;
        // border-left: 1px solid var(--tertiary);
        padding-left: .5em;
    }

    .metadata-ctn {
        display: flex;
        justify-content: space-between;
    }
}

.column_headers-ctn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}


.header {
    padding: .5em;
    text-align: left;
    width: 100%;
    text-transform: capitalize;
    font-weight: bold;
    border-right: 1px solid var(--tertiary)
}