.table_header-ctn {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: .5em;

    .metadata_key {
        text-transform: capitalize;
        font-weight: bold;
        padding-left: .5em;
    }

    .metadata-ctn {
        display: flex;
        justify-content: space-between;
        // border: 1px solid red;
        margin: 1em;
    }
}

.column_headers-ctn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}


.header {
    width: 100%;
    padding: .5em;
    text-align: left;
    text-transform: capitalize;
    font-weight: bold;
    border-bottom: 1px solid var(--tertiary)
}