.template_list-ctn {
    overflow-y: scroll;
    font-size: .8em;
    border-right: 1px solid var(--tertiary);
    height: 100vh;

    .template-btn {
        cursor: pointer;

        transition: 150ms all ease-in-out;

        &:hover {
            color: var(--tertiary)
        }
    }
}

::-webkit-scrollbar {
    width: auto;
}